# Ignore Python byte-code and compiled files
*.pyc
__pycache__/

# Ignore local development environment files
.env

# Ignore IDE files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore dependencies installed by pip
venv/
